.aurora-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.aurora-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
